.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(1, 1, 82);
    z-index: 10;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container img {
    height: 50px;
    width: 100%;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  
  }
  
  .navbar-links li {
    display: inline-block;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    transition: background 0.3s ease-in-out;
  }
  
  .navbar-links li a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  } 
  